* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    list-style-type: none;

}

main {
    background-color: #131415;
    padding: 1rem;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30 px;
    top: 0;
    z-index: 2;
    background: hsla(59, 95%, 34%, 0.25);
    backdrop-filter: blur 4px;
    box-shadow: 0 16px 10px -18px #6a7da8;
    gap: 30px;
}

.logo {
    height: 70%;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list a {
    color: gray;
    text-decoration: none;
    margin-right: 50px;
}

.nav-list li:first-child > a {
    font-weight: 600;
}

a:hover {
    color: #4367ba;
    cursor: pointer;
    padding: 0, 10px;
    text-decoration: underline;
}

#hero {
    margin-top: 65px;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-items: center;
    
}

.hero-info h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-white);
    text-align: center;
}

.hero-info p {
    font-family: 'Arvo', serif;
    font-size: 18px;
    width: 70%;
    color: var(--bg-white);
}


.hero-info p>span {
    font-weight: 800;
}

.hero-info a {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-white);
    background-color: var(--primary);
    width: 110px;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;

}

.hero-card {
    width: 300px;
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
}

.hero-card-top h3 {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-card-top span {
    background-color: var(--primary);
    text-align: center;
    width: 50px;
    padding: 3px 0;
    font-size: 14px;
    border-radius: 10px;
}

.hero-card-bottom {
    display: flex;
    justify-content: space-between;
}

.hero-card-creator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-card-creator img {
    width: 40px;
    height: 40px;
}

.creator-info p:first-child,
.hero-card-price p {
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300px;
}

#info  {

    padding: 70px 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;
    color: var(--text-gray);
    text-align: center;
    background-color: #93c6fa;
}

.info-res {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-info a {
    font-family: 'Vina Sans', cursive;
    ;
}

.info-res {
    font-family: 'Bruno Ace', cursive;
    font-size: px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-white);
    text-align: center;

}



